@page "{id:int}/{title}"
@model Forum.Pages.BoardModel
@{
}

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>@RouteData.Values["title"]</th>

        </tr>
    </thead>
    <thead class="bg-light">
        <tr>
            <th></th>
            <th>Temat</th>
            <th>Dodane przez</th>
            <th>Odpowiedzi</th>
            <th>Wyświetlenia</th>
            <th>Ostatni post</th>

        </tr>
    </thead>

        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                         alt=""
                         style="width: 45px; height: 45px"
                         class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1"></p>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </td>
                <td>
                    <p>TopicNAme</p>
                    <p class="text-muted mb-0">TopicDescription</p>
                </td>
                <td>

                </td>
                <td>
                    TOpicAmmount
                </td>
                <td>
                    
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    }
</table>