<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e5cd9c3cf3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/plots-style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #F2F2F2;">
        <div class="container-lg justify-content-between d-block d-lg-flex">
            <div class="wrapper">
                <a asp-page="/Index"><img src="/img/home-icon.png" width="30" height="30" /></a>
            </div>
            <ul class="navbar-nav header-right-nav gap-3">
                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" asp-page="/NewTopic">Start New Topic</a>
                </li>
                @await Html.PartialAsync("./AccountPartials/LoginPartials/_LoginFrontEndLogic.cshtml")
            </ul>
        </div>
    </nav>
    <!--Content-->
    <div class="container-lg">
        <div class="row justify-content-evenly py-4">
            
            @RenderBody()
            @await Html.PartialAsync("./AccountPartials/LoginPartials/_LoginDynamicPartial.cshtml")
            @await Html.PartialAsync("./AccountPartials/RegistrationPartials/_RegistrationDynamicPartial.cshtml")
            @await Html.PartialAsync("./AccountPartials/ValidationPartials/_LoginToastPartial.cshtml")
            @await Html.PartialAsync("./Reports/_SendingReportPartial.cshtml")
            @await Html.PartialAsync("./Reports/_ReportToastPartial.cshtml")
            @await Html.PartialAsync("./AccountPartials/ValidationPartials/_AuthenticationPartial.cshtml")

        </div>
    </div>

    <!--Footer-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="background-color:#115959">1</div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Account/login-register-modal-swap.js" asp-append-version="true"></script>
    <script src="~/js/Account/login-form-sender.js" asp-append-version="true"></script>
    <script src="~/js/Account/registration-form-sender.js" asp-append-version="true"></script>
    <script src="~/js/Account/logout.js" asp-append-version="true"></script>
    <script src="~/js/Plots/plots-sending-reports-handler.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>