<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="login-success-toast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Sukces</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Zamknij"></button>
        </div>
        <div class="toast-body">
            Pomyślnie zalogowano.
        </div>
    </div>

    <div id="login-error-toast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Błąd</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Zamknij"></button>
        </div>
        <div class="toast-body">
            Wystąpił błąd podczas logowania. Spróbuj ponownie za chwilę.
        </div>
    </div>

    <div id="registration-success-toast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Sukces</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Zamknij"></button>
        </div>
        <div class="toast-body">
            Konto utworzono pomyślnie. Teraz możesz się zalogować.
        </div>
    </div>

    <div id="registration-error-toast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Błąd</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Zamknij"></button>
        </div>
        <div class="toast-body">
            Wystąpił błąd serwera podczas rejestracji. Spróbuj ponownie za chwilę.
        </div>
    </div>
</div>